.container-spinner {
    align-items: center;
    display: flex;
    height: 9.375rem;
    justify-content: center;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 9.375rem;
}

.spinner {
    border: 4px solid #000000;
    border-radius: 50%;
    border-left-color: transparent;
    height: 2rem;
    width: 2rem;

    animation: spin 500ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}