.shelf-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 11rem;
}

.shelf-image {
    width: 6.875rem;
}

.shelf-container-detail {
    align-items: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

@media (min-width: 64rem) {
    .shelf-container {
        padding-inline: .5rem;
        width: 13.875rem;
    }

    .shelf-image {
        width: 9.313rem;
    }
}