.container-home {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    padding-inline: 1rem;
    margin: 0 auto 5.188rem;
    ;
    max-width: 90rem;
}

.home-card-result {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 11rem;
}

.home-card-result-image {
    width: 6.875rem;
}

.home-card-result-buy-button {
    align-items: center;
    background-color: #F78524;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 2.938rem;
    width: 100%;
}

.home-card-result-buy-button span {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 0.875rem;
    justify-content: center;
}

.home-card-result-buy-button span::after {
    content: url('../assets/home/add-to-cart-button-icon.png');
}

@media (min-width: 64rem) {
    .container-home {
        justify-content: center;
        padding-inline: 2rem;
    }

    .home-card-result {
        padding-inline: .5rem;
        width: 13.875rem;
    }

    .home-card-result-image {
        width: 9.313rem;
    }
}